.post-type-archive-plugin,
.post-type-archive-package,
.single-plugin,
.single-package {
  .label {
    letter-spacing: 0.3ch;
    text-transform: uppercase;
  }

  .single-post-header-content {
    h1.entry-title {
      svg {
        display: inline-block; height: 32px;
      }
      margin-left: 0;
      margin-bottom: 0;
      text-align: left;
    }

    .plugin-description,
    .package-description {
      display: inline-block;
      padding-bottom: 3rem;
    }
  }

  .post-info-wrapper {
    margin-top: 0;
    padding-top: 0;
    width: 200px;
    margin-right: 60px;

    @media screen and (max-width: 1020px) {
      width: 100%;
    }
  }

  .plugin-meta,
  .package-meta {
    .meta-label {
      margin-bottom: 0;
      padding-bottom: 0;

      &:first-child {
        display: inline-block;
        padding: 0;
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }

    .text-holder,
    span[class^="plugin-"] {
      color: rgb(20, 20, 20);
      font-size: 1rem;
    }

    .text-holder {
      display: block;
      padding-bottom: 0.75rem;
    }

    .plugin-name,
    .package-name {
      margin-bottom: 0.5rem;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 600;

      > span {
        font-size: 1.25rem;
        letter-spacing: 0.05ch;
        color: black;
        text-transform: uppercase;
      }
    }

    .plugin-description,
    .package-description {
      @media screen and (max-width: 1020px) {
        display: none;
      }
    }

    .plugin-download,
    .package-download {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 0rem;
      background: black;
      color: white;
      border-radius: 3px;
      text-align: center;
      transition: background 200ms ease-in-out;

      &:hover {
        background: #f92672;
        transition: background 200ms ease-in-out;
      }

      i {
        display: inline-block;
        max-width: 16px;
        padding-right: 0.5rem;

        svg {
          height: 16px;
          width: 16px;
          display: inline;
          color: white;
          fill: white;
        }
      }

      @media screen and (max-width: 1020px) {
        max-width: 300px;
        margin: 0 auto;
      }
    }

    .fields {
      .field {
        letter-spacing: 0.1ch;
        text-transform: uppercase;
        color: rgb(20, 20, 20);
        margin-bottom: 0.25rem;

        a {
          color: rgb(20, 20, 20);
        }

        &-label {
          font-weight: 700;
        }

        &-value {
          letter-spacing: 0.15ch;
        }
      }
    }

    .plugin-requirements,
    .package-requirements {
      > .field-label {
        font-weight: 700;
      }

      .fieldset {
        display: block;
        width: 100%;

        .field-label {
          font-weight: 500;

          .tech-icon {
            display: inline-block;
            max-width:24px;
            width:24px;
            height:24px;
            line-height:24px;
            padding-right: 0.5rem;

            svg {
              display: inline-block;
              width:24px;
              height:24px;
              line-height:24px;
              position: relative;
              top: 6px;
              display: inline;
              color: black;
              fill: black;
            }
          }
        }
      }
    }
  }

  code {
    line-height: 1.8;
    padding: 0;
    top: 0;
    padding: 1rem 2rem;
  }

  p code {
    background-color: #282a36;
    color: white;
    padding: 0.075rem 0.25rem;
    border-radius: 2px;
  }

  pre, code, p code, pre code {
    font-family: $mono !important;
  }

  .plugin-archive,
  .package-archive {
    margin-top: 4rem;
  }

  .entry-holder {
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
